body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.grid {
  display: grid;
  position: relative;
}

.selectBox {
  width: 48px;
  height: 32px;
  text-align: center;
  background: steelblue;
  color: white;
  line-height: 32px;
  transition: background 400ms ease-out;
  transition: transform 35ms ease-out;
  cursor: pointer;
}
.selectBox.selected {
  background: crimson;
}
.selectBox.inSelectRect {
  opacity: 0.8;
}
.selectBox:hover {
  opacity: 0.95;
}