body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.selectBox {
  width: 48px;
  height: 32px;
  margin: 5px;
  text-align: center;
  background: dodgerblue;
  color: white;
  line-height: 32px;
  transition: background 400ms ease-out;
  cursor: pointer;
}
.selectBox.selected {
  background: crimson;
}
.grid {
  display: grid;
  width: 200px;
  position: relative;
}
